/* Sidebar */
.sidebar:before {
  background-color: rgba(31, 40, 62, 0.9);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.sidebar {
  background: url('https://demos.creative-tim.com/material-dashboard-dark/assets/img/sidebar-2.jpg') 50% / cover no-repeat #000000;
  bottom: 0;
  filter: opacity(0);
  font-family: 'Poppins', sans-serif;
  left: 0;
  min-height: 100vh;
  padding: 0;
  position: fixed;
  transform: translateX(-100%);
  transition: filter 0.4s ease-in-out,
              transform 0.4s ease-in-out;
  width: 17.5rem;
  z-index: 11;
}

.sidebar.active {
  filter: opacity(1);
  transform: translateX(0);
}

.bg-blur {
  background-color: rgba(0, 0, 0, 0.3);
  cursor: pointer;
  filter: opacity(0);
  height: 100%;
  left: 17.5rem;
  position: absolute;
  top: 0;
  transition: transform 0.4s ease-in-out;
  visibility: hidden;
  width: 100vw;
  z-index: -1;
}

.sidebar.active .bg-blur {
  filter: opacity(1);
  visibility: visible;
}

.sidebar .nav {
  display: flex;
  padding-left: 0;
  padding-top: 9rem;
  margin-bottom: 0;
  list-style: none;
  overflow: hidden;
  flex-wrap: nowrap;
  flex-direction: column;}
  .sidebar .nav .nav-item .nav-link {
  align-items: center;
  display: flex;
  cursor: pointer;
  padding: 16px 35px;
  white-space: nowrap;
  height: 52px;
  color: #4a4a4a; }
  .sidebar .nav .nav-item .nav-link .menu-icon {
  margin-right: 1.25rem;
  width: 16px;
  line-height: 1;
  font-size: 18px;
  color: #979797; }
  .rtl .sidebar .nav .nav-item .nav-link .menu-icon {
  margin-right: 0;
  margin-left: 1.25rem; }
  .sidebar .nav .nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  font-size: 14px;
  line-height: 1;
  vertical-align: middle; }
  .sidebar .nav .nav-item.nav-profile .nav-link {
  display: flex;
  height: auto; }
  .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper {
  display: flex;
  margin-bottom: 1rem }
  .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .profile-image {
  width: 4rem;
  height: 4rem; }
  .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .profile-image img {
  border-radius: 100%;
  max-width: 100%; }
  .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .txt-wrapper {
  margin-left: 15px; }
  .rtl .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .txt-wrapper {
  margin-left: 0;
  margin-right: 15px;
  }
  .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .txt-wrapper .profile-name {
  font-weight: 500;
  margin-bottom: 0;
  }
  .sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .txt-wrapper .designation {
  margin-right: 3px;
}

.sidebar .nav .nav-item .nav-link {
  transition: background-color 0.3s ease-in-out,
  color 0.3s ease-in-out;
}

.sidebar .nav .nav-item .nav-link.active {
  color: #ffffff;
  background-image: linear-gradient(
                      60deg,
                      #0f1525,
                      #202940
                    );
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link.active,
.sidebar .nav:not(.sub-menu) > .nav-item:focus:not(.nav-profile) > .nav-link.active,
.sidebar .nav:not(.sub-menu) > .nav-item:active:not(.nav-profile) > .nav-link.active {
  background-image: linear-gradient(
                      60deg,
                      #0f1525,
                      #202940
                    );
}

.sidebar .nav .nav-item .nav-link,
.sidebar .nav .nav-item .nav-link .menu-icon {
  color: #8b909e;
}


.sidebar .nav .nav-item .nav-link:hover,
.sidebar .nav .nav-item .nav-link:focus,
.sidebar .nav .nav-item .nav-link:active {
  color: #ffffff;
}

@media (max-width: 500px) {
  .burguer-menu {
    box-shadow: 0 0 0 1px #ffffff;
    left: 5px;
  }
}