<nav class="navbar">
  <div class="txt-center navbar-brand-wrapper d-flex">
    <a [routerLink]="['/dashboard']" class="navbar-brand brand-logo">
      <img class="big-logo" src="assets/images/logo.svg" alt="Logo" title="Logo">
      <img class="mini-logo" src="assets/images/logo-mini.svg" alt="Logo" title="Logo">
    </a>
  </div>
  
  <div class="navbar-menu-wrapper d-flex align-items-center">

    <ul class="navbar-nav navbar-nav-right">
      <li class="nav-item">
        <a class="nav-link">
          <span class="profile-text">
            Hello! 
            <span class="txt-capitalize">
              {{ nameForMenu }}
            </span>
          </span>

          <img class="img-xs rounded-circle" src="assets/images/avatar.jpeg" [alt]="nameForMenu" [title]="nameForMenu">
        </a>
      </li>
    </ul>
    
  </div>
</nav>