<section>
  <!-- Title -->
  <sh-title shTxt="Dashboard"></sh-title>

  <!-- Dashboard -->
  <div> 
    <!-- Cards -->
    <div class="ctn-cards">
      <sh-card
        titleShCard="Earnings"
        [totalShCard]="howMuchEarnings"
        [amountShCard]="earnings | currency:'COP':'$'"
        bgShCard="bg-success-dark"
        iconClassShNameCard="fa-money-bill-alt"
      >
      </sh-card>
    
      <sh-card
        titleShCard="Expenses"
        [totalShCard]="howMuchExpenses"
        [amountShCard]="expenses | currency:'COP':'$'"
        bgShCard="bg-danger-dark"
        iconClassShNameCard="fa-money-bill-alt"
      >
      </sh-card>
    
      <sh-card
        titleShCard="Difference" txtShCard="Total"
        [totalShCard]="howMuchExpenses"
        [amountShCard]="earnings - expenses | currency:'COP':'$'"
        bgShCard="bg-black"
        iconClassShNameCard="fa-money-bill-alt"
      >
      </sh-card>
    </div>
  </div>

  <!-- Graph -->
  <section *ngIf="earnings > 0 || expenses > 0">
    <sh-title shTxt="Graph"></sh-title>
    
    <div>
      <div class="card ctn-graph">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" chartType="doughnut"></canvas>
      </div>
    </div>
  </section>
</section>