@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  box-shadow: none;
  outline: 0;
}

body {
  background-color: #1a2035;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  font-size: 1rem;
  font-weight: 400;
  color: #212529;
}

/* Barra de scroll */
body::-webkit-scrollbar {
	width: 13px;
}

/* Contenedor barra de scroll */
body::-webkit-scrollbar-thumb {
	background-color: rgba(255, 255, 255, 0.2);
	box-shadow: 1px 1px 0 rgba(255, 255, 255, 0.1) inset,
							0 -1px 0 rgba(255, 255, 255, 0.1) inset;
}

a {
  color: #007bff;
  text-decoration: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

table {
	border-collapse: collapse;
}

button {
  border-style: none;
  cursor: pointer;
}

button[disabled] {
  cursor: not-allowed;
  filter: opacity(0.6);
}

th {
	text-align: inherit;
}

.txt-center {
  text-align: center;
}

.txt-capitalize {
  text-transform: capitalize;
}

.bold {
  font-weight: bold;
}

.hide-scroll-y {
  overflow: hidden;
}

.d-flex {
  display: flex;
}

.mr-5 {
  margin-right: 1rem;
}

.my-5 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.mt-2 {
  margin-top: 0.25rem;
}

.img-xs {
  border-radius: 50%;
  width: 2.5rem;
}

/* Titles */
.bg-title {
  background-color: #101626;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.9),
              0 1px 4px 0 rgba(255, 255, 255, 0.7) inset,
              0 -1px 4px 0 rgba(255, 255, 255, 0.7) inset;
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0 auto 2.5rem auto;
  padding: 0.75rem;
  text-align: center;
  text-transform: capitalize;
  width: 90%;
}

/* Cards */
.ctn-cards {
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17.5rem, 1fr));
  gap: 2rem;
  margin: 0 auto 2.5rem auto;
  width: 90%;
}

/* Colors */
.bg-primary {
  background-image: linear-gradient(60deg, #029eb1, #0e3b41);
}

.bg-success {
  background-image: linear-gradient(60deg, #16996f, #18661b);
}

.bg-danger {
  background-image: linear-gradient(60deg, #d22824, #5f0811);
}

.bg-warning {
  background-image: linear-gradient(60deg, #c8641b, #ea9009);
}

.bg-black {
  background-image: linear-gradient(0deg, #111625, #1e2335)
}

.bg-success-dark {
  background-image: linear-gradient(0deg, #0c464e, #073d44);
}

.bg-danger-dark {
  background-image: linear-gradient(0deg, #7f0c0a, #470a09);
}

.txt-danger {
  color: #e61d1d;
}

.txt-info {
  color: #20d8c9;
}

@media (max-width: 768px) {
  .bg-title {
    font-size: 1.25rem;
    width: 100%;
  }

  .rounded-circle {
    display: none;
  }
}