<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title text-primary text-center bg-title mb-5">
          Detail - Earnings/Expenses
        </h4>

        <table class="table text-center">
          <thead>
            <tr>
              <th>
                Description
              </th>

              <th>
                Amount
              </th>

              <th>
                Type
              </th>

              <th>
                Delete Earnings / Expenses
              </th>
            </tr>
          </thead>

          <tbody>
            <tr *ngFor="let item of items | orderEntryEgerss">
              <td>
                {{ item.description.charAt(0).toUpperCase() + item.description.slice(1) }}
              </td>

              <td [ngClass]="{'text-info': item.type === 'entry', 'text-danger': item.type === 'egress'}">
                {{ item.amount | currency:'COP':'$' }}
              </td>

              <td>
                <span *ngIf="item.type === 'entry'" class="text-info">
                  Earning
                </span>

                <span *ngIf="item.type === 'egress'" class="text-danger">
                  Expenses
                </span>
              </td>

              <td>
                <button [ngClass]="{'btn-primary': item.type === 'entry', 'btn-danger': item.type === 'egress'}" class="btn" (click)="removeItemEntryEgress(item)">
                  <i class="fa fa-trash"></i>
                  Delete
                  <span class="font-weight-bold">
                    {{ item.type === 'entry' ? 'Earning' : 'Expense' }}
                  </span>
                </button>
              </td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </div>
</div>