<!-- <div class="container">
  <div class="row"> -->
    <!-- <div class="col-md-4 col-sm-6 col-xs-12 my-3"> -->
<div class="container-card">
  <div class="m-2">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left bg-gradient">
            <i class="fa fa-money-bill-alt text-success icon-lg"></i>
          </div>
          
          <div class="float-right">
            <p class="mb-0 text-right text-primary">
              Earnings
            </p>

            <div class="fluid-container bg-gradient">
              <h3 class="font-weight-medium text-right mb-0 text-success">
                {{ entries | currency:'COP':'$' }} COP
              </h3>
            </div>
          </div>
        </div>
        
        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>
          {{ howMuchEntries }} Earnings
        </p>
      </div>
    </div>
  </div>
  
  <div class="m-2">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left bg-gradient">
            <i class="fa fa-shipping-fast text-danger icon-lg"></i>
          </div>

          <div class="float-right">
            <p class="mb-0 text-right text-primary">
              Expenses
            </p>

            <div class="fluid-container bg-gradient">
              <h3 class="font-weight-medium text-right mb-0 text-danger">
                {{ expenses | currency:'COP':'$' }} COP
              </h3>
            </div>
          </div>
        </div>

        <p class="text-muted mt-3 mb-0">
          <i class="mdi mdi-alert-octagon mr-1" aria-hidden="true"></i>
          {{ howMuchExpenses }} Expenses
        </p>
      </div>
    </div>
  </div>

  <div class="m-2">
    <div class="card card-statistics">
      <div class="card-body">
        <div class="clearfix">
          <div class="float-left bg-gradient">
            <i class="fa fa-building text-info icon-lg"></i>
          </div>

          <div class="float-right">
            <p class="mb-0 text-right text-primary">
              Difference
            </p>

            <div class="fluid-container bg-gradient">
              <h3 class="font-weight-medium text-right text-info mb-0">
                {{ entries - expenses | currency:'COP':'$' }} COP
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="m-5">  
  <div *ngIf="entries > 0 || expenses > 0">
    <div class="card card-statistics">
      <div class="card-body">
        <h1 class="card-title text-primary text-center bg-title mb-5">
          Graph
        </h1>

        <div>
          <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" chartType="doughnut"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>