*:focus {
  box-shadow: none !important;
  outline: 0 !important;
}

body {
  background-color: #1a2035;
}

.navbar-menu-wrapper {
  background-color: #2c3349;
}

.cursor {
  cursor: pointer;
}

.navbar.default-layout .navbar-brand-wrapper {
  background-color: #2c3349;
}

.sidebar::before {
  background-color: #1f283e;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.94;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.sidebar {
  background: url('https://demos.creative-tim.com/material-dashboard-dark/assets/img/sidebar-2.jpg') #000000 50% / cover no-repeat scroll;
  position: relative;
}

.sidebar .nav .nav-item .nav-link {
  transition: background-color 0.3s ease-in-out,
              color 0.3s ease-in-out;
}

.sidebar .nav .nav-item .nav-link.active {
  background-image: linear-gradient(
                      60deg,
                      #0f1525,
                      #202940
                    );
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link.active,
.sidebar .nav:not(.sub-menu) > .nav-item:focus:not(.nav-profile) > .nav-link.active,
.sidebar .nav:not(.sub-menu) > .nav-item:active:not(.nav-profile) > .nav-link.active {
  background-image: linear-gradient(
                      60deg,
                      #0f1525,
                      #202940
                    );
}

.sidebar .nav .nav-item .nav-link,
.sidebar .nav .nav-item .nav-link:hover,
.sidebar .nav .nav-item .nav-link:focus,
.sidebar .nav .nav-item .nav-link:active,
.sidebar .nav .nav-item .nav-link .menu-icon {
  color: #8b909e;
}

.text-muted {
  color: #8f95a3 !important;
  font-size: 1rem;
}

.form-group label {
  font-size: 1rem;
}

.sidebar .nav .nav-item.nav-profile .nav-link .user-wrapper .text-wrapper .profile-name,
.sidebar .nav .nav-item .nav-link.active > *,
.table td,
.table th {
  color: #ffffff;
}

.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link,
.sidebar .nav:not(.sub-menu) > .nav-item:focus:not(.nav-profile) > .nav-link,
.sidebar .nav:not(.sub-menu) > .nav-item:active:not(.nav-profile) > .nav-link {
  background-color: rgba(15, 22, 37, 0.8);
  color: rgba(255, 255, 255, 0.8);
}

.table td,
.table th {
  font-size: 1rem;
  vertical-align: middle;
}

.bg-title {
  background-color: #101626;
  padding: 1rem;
}

.form-control,
.form-control:focus {
  background-color: #101626;
  border-color: #ffffff;
  color: #ffffff;
}

.card {
  background-color: #202940;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  height: 100%;
}

.content-wrapper,
.footer {
  background-color: rgba(0, 0, 0, 0);
}

.footer a {
  color: #06b7fa;
}

.btn:disabled,
.btn {
  border-color: #ffffff;
}

.btn:hover,
.btn:focus,
.btn:active {
  border-color: #ffffff;
  color: #ffffff;
}

.btn-danger {
  background-image: linear-gradient(
                      60deg,
                      #d22824,
                      #5f0811
                    );
}

.btn-primary {
  background-image: linear-gradient(
                      60deg,
                      #029eb1,
                      #0e3b41
                    );
}

.btn-warning {
  background-image: linear-gradient(
                      60deg,
                      #f5700c,
                      #ff9800
                      );
}

.btn-success {
  background-image: linear-gradient(
                      60deg,
                      #288c6c,
                      #4ea752
                    );
}

.text-primary {
  color: #8b92a9 !important;
  font-size: 18px;
}

.text-danger {
  color: #df3c3c !important;
}

.text-info {
  color: #06b7fa !important;
}

.text-success {
  color: #57e076 !important;
}

.bg-gradient > i,
.bg-gradient > h3  {
  -webkit-background-clip: text;
  color: rgba(0, 0, 0, 0) !important;
}

.bg-gradient .text-danger {
  background-image: linear-gradient(to top, #d22824 ,#8a111d);
}

.bg-gradient .text-info {
  background-image: linear-gradient(to top, #12b4c6, #0e7784)
}

.bg-gradient .text-success {
  background-image: linear-gradient(to top, #25e32e, #338436)
}

.heartbeat {
  animation: 1s heart infinite ease;
}

@keyframes heart {
  0% {
    transform: scale(0.75);
  }

  20% {
    transform: scale(1);
  }

  40% {
    transform: scale(0.75);
  }

  60% {
    transform: scale(1);
  }

  80% {
    transform: scale(0.75);
  }

  100% {
    transform: scale(0.75);
  }
}

.auth.theme-one .auto-form-wrapper,
.input-group-append, .input-group-prepend {
  background-color: #090e1b;
}

.auth.theme-one .auto-form-wrapper .form-group .input-group {
  height: 38px;
}

.form-group label {
  color: #ffffff;
}

.text-link {
  color: #1b8bb5 !important;
}

.submit-btn {
  background-image: linear-gradient(to left, #1b8bb5, #029eb1);
}

.container-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 990px) {
  .container-card {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 768px) {
  .container-card {
    grid-template-columns: 1fr;
  }
}